.col-md-12 {
  background-image: url("../img/landing.jpg");
  text-align: center;
  color: white;
}
.bar {
    width: 45px;
    height: 3px;
    background-color: rgb(255,255,255);
    margin: 6px 0;
}
#justy {
  background-repeat: no-repeat;
  background-image: url("../img/breakfast.jpg");
  height: 210px;
  text-align: center;
  padding-top: 80px;
  color: white;
}
#seyme {
  text-align: center;
}
#campo {
  height: 105px;
  padding-top: 40px;
}
#kampo {
  background-color: red;
  height: 105px;
  color: white;
  padding-top: 40px;
}
#cphryn {background-repeat: no-repeat;
  background-image: url("../img/lunch.jpg");
  height: 210px;
  text-align: center;
  padding-top: 80px;
  color: white;
}
#kwata {
  background-repeat: no-repeat;
  background-image: url("../img/dinner.jpg");
  height: 210px;
  text-align: center;
  padding-top: 80px;
  color: white;
}
#mukhe {
  text-align: center;
}
#papa {
  text-align: right;
}
#fourthrow {
  text-align: center;
  padding-top: 50px;
  background-image: url("../img/foodsBg.jpg");
  color: white;
}
#saya {
  color: red;
  background-color: grey;
  text-align: center;
}
#fifthrow {
  text-align: center;
  margin: 10px;
  border-width: 10px;
  border-style: solid;
  border-color: grey;
  border-style: g;
}
#sixthrow {
  background-image: url("../img/subscribe.jpg");
  color: white;
  text-align: center;
  padding: 100px
}
#sevethrow {
  background-color: red;
  color: white;
  text-align: center;
}
#sawaq {
  background-color: grey;
  text-align: left;
}
#sawas {
  background-color: red;
}
.button {
  border-radius: 10px;
  background-color: white;
  border-color: red;
  text-align: center;
  color: red;
  padding: 15px;
  transition: all 0.5s;
}

.button span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  transition: 0.5s;
}

.button:hover span {
  padding-right: 10px;
}
