.col-md-12 {
  background-image: url("../img/landing.jpg");
  text-align: center;
}
.bar {
    width: 35px;
    height: 5px;
    background-color: green;
    margin: 6px 0;
}
#justy {
  background-repeat: no-repeat;
  background-image: url("../img/breakfast.jpg");
  height: 210px;
  text-align: center;
  padding-top: 80px;
  color: white;
}
#seyme {
  text-align: center;
}
#campo {
  height: 105px;
  padding-top: 40px;
}
#kampo {
  background-color: red;
  height: 105px;
  color: white;
  padding-top: 40px;
}
#cphryn {background-repeat: no-repeat;
  background-image: url("../img/lunch.jpg");
  height: 210px;
  text-align: center;
  padding-top: 80px;
  color: white;
}
#kwata {
  background-repeat: no-repeat;
  background-image: url("../img/dinner.jpg");
  height: 210px;
  text-align: center;
  padding-top: 80px;
  color: white;
}
#mukhe {
  text-align: center;
}
#papa {
  text-align: right;
}
#fourthrow {
  text-align: center;
  padding-top: 50px;
  background-image: url("../img/foodsBg.jpg");
  color: white;
}
#saya {
  color: red;
}
#fifthrow {
  text-align: center;
}
#sixthrow {
  background-image: url("../img/subscribe.jpg");
  color: white;
  text-align: center;
  padding: 100px
}
#sevethrow {
  background-color: red;
  color: white;
  text-align: center;
}
