.col-md-12 {
  background-image: url("../img/landing.jpg");
  text-align: center;
}
#justy {
  background-repeat: no-repeat;
  background-image: url("../img/breakfast.jpg");
  height: 210px;
}
#cphryn {background-repeat: no-repeat;
  background-image: url("../img/lunch.jpg");
  height: 210px
}
#kwata {
  background-repeat: no-repeat;
  background-image: url("../img/dinner.jpg");
  height: 210px;
}
#mukhe {
  text-align: center;
}
#papa {
  text-align: right;
}
#fourthrow {
  text-align: center;
  padding-top: 50px;
  background-image: url("../img/foodsBg.jpg");
}
#fifthrow {
  text-align: center;
}
#sixthrow {
  background-image: url("../img/subscribe.jpg");
  color: white;
  text-align: center;
  padding: 100px
}
#sevethrow {
  background-color: red;
  color: white;
  text-align: center;
}
